<nav>
  <ul>
    <li><a>Calendar</a><button>D</button></li>
    <li><a>Modules</a><button>D</button></li>
    <li><a>Assignments</a><button>D</button></li>
    <li><a>Tutorials</a><button>D</button></li>
    <li><a>Staff</a></li>
  </ul>
</nav>
