article {
  line-height: 1.6;
}

article h2 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
}

article p{
  margin-top: 1em;
  margin-bottom: 1em;
}

article ul {
  list-style: none;
  padding-left: 1.5em;
  margin-top: 0.5em;
}

article ul li::before {
  position: absolute;
  margin-left: -1.4em;
  color: var(--grayed-color);
  content: "•";
}

article li {
  margin-block: 0.25em;
}

article a {
  color: var(--emph-color);
  text-decoration: underline;
  text-decoration-color: var(--gray-ui-color);
  text-underline-offset: 2px;
}

article a:hover {
  text-decoration-color: var(--emph-color);
}



article h2 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}
article h3 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}
article h4 {
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-variant: small-caps;
  font-size: 0.8rem;
}

article blockquote {
  background: var(--note-background-color);
  border-left: 4px solid var(--note-color);
  padding-inline: 0.8rem;
  padding-block: 0.001rem;
}

h1 {
  margin-bottom: 1rem;
}